*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Ubuntu', sans-serif;
    background-color: #fff;
    line-height: 1.6rem;
}

/* nav-bar starts */

nav ul
{
     list-style-type:none;
}


nav a
{
text-decoration: none;
color:  #333;
padding-right: 10px;
/* text-decoration: underline; */
}

nav{
    
    justify-content:space-between;
    align-items: center;

}


/* 
nav h2{
    font-family: 'Handjet', cursive;
} */

.c1
{
    color: #A73489;
    
}
.c2
{
    color: #FF3D68;
}
.c3
{   
    color: #FF6767;
    
}
.c4
{
    color: #FAAD80;
}


/* nav bar ends */

/* about us starts */

.hero
{
    background-image: url(https://images.unsplash.com/photo-1557682224-5b8590cd9ec5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1129&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    background-position: center center;
    color: #fff;
}


.hero .content 
{
    align-items: center;
    justify-content: center;
    height: 100%;
}
.hero #highlight
{   
    padding: 10px;
    font-weight:bold;
    font-size: 50px;
}

.hero .content *{
    padding: 5px;
}

.about_us .container{
    background-image: url(https://plus.unsplash.com/premium_photo-1678453147886-3ea4eb762e8d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8c3RhcnR1cHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    height: 85vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    align-items: center;
    justify-content: center;
}

.about_us .container::before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    
}

.about_us .content
{   
    width: 650px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.about_us .content h1{
    padding-bottom: 10px;
    color: #FAAD80;
    font-weight: bold;
}

.about_us .content #padding
{
    padding-bottom: 25px;
}


.about_us .content *
{
    z-index: 999;
    text-align:center;
    padding-bottom: 10px;

}

.about_us .content p{
    font-weight: bold;  
}

/* about us ends */


/* success stories starts */


/* .success_stories *
{
    color: #fff;
} */

.success_stories .container{
    background-image: url(https://images.unsplash.com/photo-1606857521015-7f9fcf423740?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHN0YXJ0dXB8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background-position: center center; */
}
.success_stories .container::before
{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.success_stories .container .content *
{
    z-index: 999;  
    /* position: relative; */
}

/* .success_stories .container .content .stories 
{
  height: 100vh;
  
} */



.success_stories .container .column
{
    height:300px;
    width: 300px;
    background-color:#fff;
    /* opacity:0.5; */
    
}

.success_stories .content .heading
{
    align-items: center;
    justify-content: center;

}
.success_stories .content .heading *
{
    padding: 10px;
    color: #fff;
}
.success_stories .content .heading h2{
    color:#FAAD80;
}

.success_stories .content .stories{
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-evenly;
    /* height: 100vh; */
    
}

.success_stories .column{
    margin: 15px;
    justify-content: center;
    align-items: center;
}


.success_stories .column img{
    height: 80%;
    width: 80%;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid black;

}



/* success stories ends */




